
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
    /* primary button  */
.btn{
        border-radius: 48px;
        background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        padding: 21px 40px;
        border: none;
        color: #FFF;
        font-size: 1.1rem;
        font-weight: 600;
    }
.btn:hover{
    cursor: pointer;
}
/* primary text  */
.discription-color{
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 400;
}
/* header style- Navbar */
.nav-container{
    display: flex;
    justify-content: space-between;
    margin: 37px 240px;

}

/* Gamer logo  */
.gamer-logo{
    display: flex;
}
.gamer-logo span{
    color:#FF42A5
}
.gamer-logo img{
    height: 100%;
}
.logo-name{
    font-size: 2.8rem;
    align-items: center;
    margin-left: 20px;
}
/* navbar container  */

.nav-state{
    display: flex;
    align-items: center;
}
.nav-state li{
    list-style: none;
    color: #3C354F;
    font-size: 1.2rem;
    margin-right: 32px;
}
.follow-us{
    display: flex;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

}
.follow-us div{
    padding: 17px 18px
}

/* play  style  */
.play{
    display: flex;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
}
.play-content{

    background-image: url(/images/Group\ 14.png);
    background-repeat: no-repeat;
    padding: 148px 309px 148px 244px;
    text-align: left;
}
.play-tittle{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}
.play-head{
    font-size: 6rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
    font-weight: 800;
}

.play-option{
    margin-bottom: 17px;
    align-items: center;
    font-weight: 500;
}
.go-rogue{
    background: #4EC5F7;
    margin-left: 24px;
    font-weight: 600;
}

/* we are gamer  */
.we-are-gamer{
    display: flex;
    align-items: center;
    gap: 52px;
    padding: 0 240px 120px 240px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-bottom: 120px;

}
.we-content{
    text-align: right;
}
.we-content h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom: 24px;
}
.we-details{
    font-size: 1.1rem;
    margin-bottom: 32px;
}
.we-btn{
    margin-bottom: 24px;
}
.our-purpose{
    width: 520px;
}
.unleash{
    font-size: 2rem;
    font-weight: 500;
}

/* online games */
.online-card h1, .online-tittle{
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 16px;
}
.online-card h1{
    font-size: 3rem;
}
.online-card span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card-container{
    display: flex;
    justify-content: space-evenly;
    margin: 48px 240px;
}

.hover-effect{
    position: relative;
    bottom: 444px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350;
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
    border: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: #F948B2; 
}
.card-container p{
    font-size: 1.1rem;
}
/* play instantly */
.play-instantly{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 240px;
}
.play-instantly-content h1{
    font-size: 3rem;
    text-align: right;
}
.play-instantly-content p{
    text-align: right;
}
.play-inst-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-inst-img1{
    position: relative;
    margin: 0;
    left: 200px;
    top: 100px;
    border-radius: 8px;
    border: 10px solid #FFF;
    background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
}
/* games button style*/
.games-btn{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:24px;
    padding: 120px 249px;
}
.game-btn{
    border-radius: 50px;
    background: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.game-btn:hover{
    border: 1px solid #F948B2;
    color: #F948B2;
    cursor: pointer;
}
/* footer style */
footer{
    background: #0B0223;
    color: #FFF;
    display: flex;
    justify-content: center;
    padding: 130px 553px;
    
}
.fotter-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 66px;
}
.fotter-navbar ul{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.fotter-navbar li{
    list-style: none;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 56px;
}
.footer-icon{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 74px
}
.footer-policy ul{
    display: flex;
    gap: 60px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 18px;
}
.footer-policy li{
    list-style: none;

    
}
.copyright{
    text-align: center;
}
.copyright a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}

/* .hd{
    visibility: hidden;
} */

@media screen and (max-width:425px) {
    .nav-container , .nav-state , .play, .we-are-gamer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

    }
    .play{
        flex-direction: column-reverse;
        
    }
}